body, html {
  height: 100%;
  margin: 0;
}
.bg-blue {
	background-color: #C8F4FF;
}

/* Replace Nav with Standardize */ 
.sp-nav-container {
  
}
.navbar-logo {
  width: 150px; 
  height: 50px; 
  padding-left: 10px;
}
.navbar-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.nav-link {
	color: #755ba5;
}
.current-nav {
	color: #333333;
}
.other-nav {

}
.nav-links {
	padding-left: 10px;
}

/* Profile Banner and Circle*/

.profile-banner {
  position: relative;
  background-image: url('example_images/yosemite_banner.jpg');
  background-size: cover;
  height: 30%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Last value Darkness */
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.profile-picture {
  position: absolute;
  bottom: -70px;
  left: 80px;
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden; 
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Shelter Details*/
.shelter-details {
	margin: 30px;
	position: relative;
	top: 70px;
}
.shelter-about {
}