* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.image-container {
    width: 80%;
}


img {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
}

.pet-seeker-header-text {
    font-family:Georgia, 'Times New Roman';
    font-weight: bold;
    color:rgb(73, 161, 161);
}

.pet-shelter-header-text {
    font-family:Georgia, 'Times New Roman';
    color:rgb(114, 65, 19);
    font-weight: bold;
}

body {
    /* Reference:  // reference petSeeker Image: https://unsplash.com/ja/写真/PHNvtz8H4WU */
    background: url('images/login-signup-images/robert-murdock-PHNvtz8H4WU-unsplash.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.signup-section {
    width: 45vw;
    opacity: 95%;

    background-color: aliceblue;
    height: 100vh;
    overflow-y: scroll;
    animation: slideFromRight 1.1s;
}

.sign-up-button-1:hover{
    transition: .1s;
    color: black;
    background-color: aqua;
}

.section-center {
    width: 80%;
    margin: 0 auto;
    
}

@media screen and (max-width: 1250px) {
    .signup-section {
        width: 55%;
    }
}

@media screen and (max-width: 870px) {
    .signup-section {
        width: 65%;
    }
}



@media screen and (max-width: 770px) {
    .signup-section {
        opacity: 1;
        width: 100%;
    }
}



@keyframes slideFromRight {
    0% {
        transform: translateX(500%);
        opacity: 0;

    }

    100% {
        transform: translateX(0%);
        opacity: 80%;
    }

    
}
