.preview-container {
    text-align: left;
    max-width: 100%; /* Ensure the content doesn't overflow the container */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Add padding for better readability */
  }
  
  .blog-details {
    background-color: #ffffff; 
    padding: 30px;
    gap: 10px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-group {
  width: 100%;
}

.preview-container{
  overflow: 'hidden';
  word-wrap: 'break-word';
  max-width: '100%';
  display: 'flex';
  justify-content: 'flex-start';
  text-align: 'left';
}
