/* responsive design */
@media (max-width: 1400px) {
  .blog-card {
      width: calc(100vw - 20rem);
  }

  .bg-white {
      width: calc(100vw - 20rem);
  }

  /* exclude responsive width for header */
  .navbar.bg-white {
      width: auto; 
  }

  .form-group {
      flex-direction: column;
      align-items: flex-start; /* center vertically */
  }
}
