.footer {
  background-color: #96ceea;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.footer p {
  margin: 0; /* Remove default margin for the paragraph element */
  color: white;
}
