/*
 * style.css
 *
 * CSC309 P3
 * 
 * University of Toronto
 * Fall 2023
 *
 */

/* header and footer styles */
header {
    display: flex;
    justify-content: space-between; /* distribute content evenly between logo and buttons */
    align-items: center; /* center items vertically within the header */
    background-color: #C8F4FF;
    color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #000000;
}

.logo-container {
    display: flex; /* allow logo to align horizontally */
    align-items: center; /* center logo vertically */
}

.button-container {
    display: flex; /* allow buttons to align horizontally */
    gap: 30px; /* add some spacing between buttons */
}


/* page styles */
.page-container {
    background-color: #f0eeec; 
    width: 100%;
    overflow-y: auto;
}

.page-content {
    font-family: sans-serif;
    flex: 1; 
    justify-content: flex-start; 
    text-align: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f0eeec;
    padding-top: 20px;
}

.logo-img {
    max-height: 80px;
    width: auto;
}

.pet-main-img {
    object-fit: contain; /* change from 'cover' to 'contain' */
    max-width: 100%; /* allow the image to adjust its width */
    max-height: 100%; 
    width: auto; /* automatically adjust the width */
    height: auto; /* automatically adjust the height */
}

.pet-details h1 {
    font-weight: bold;
}

.pet-side-img {
    max-height: 100px;
    width: 130px;
}

.carousel {
    height: 100%;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    height: 100%;
    min-height: 600px;
}

.carousel-item {
    min-height: 600px;
    height: 100%;
}

.pet-main-img {
    object-fit: cover;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adjust the horizontal position as needed */
.carousel-control-prev {
    left: 0; /* place the previous button at the left edge */
    margin-top: 50px;
}

.carousel-control-next {
    right: 0; /* place the next button at the right edge */
}

.background-details {
    /* background-image: url('images/backgroundImage1.jpg');  */
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: #f0eeec;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 400px; */
}

.background-adoption {
    /* background-image: url('../assets/images/backgroundImage1.jpg');  */
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: #f0eeec;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1; 
    width: 100%;
    height: 100%;
}

.form-inputs{
    width: 100%;
}

.pet-details {
    background-color: #ffffff; 
    padding: 30px;
    gap: 10px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* adjust alignment as needed */
    align-items: center; /* center vertically */
    gap: 5px;
    width: 100%;
}

.form-group label {
    flex: 1; /* allow label to expand to fill available space */
    margin-right: 10px; /* add some space between label and input */
    white-space: nowrap; /* prevent label from wrapping */
}

.form-group input, .form-group select {
    flex: 2; /* allow input/select to expand to fill available space */
}

.pet-details ul {
    list-style-type: disc !important; /* add bullet points */
    margin-left: 20px; /* adjust the margin for proper spacing */
}

.pet-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pet-details ul {
    list-style-type: none;
    padding: 0;
}

.pet-details ul li {
    margin-bottom: 10px;
}

/* add spacing between the table and the image */
.col-lg-6 {
    margin-right: 20px; /* adjust this value as needed for spacing */
}

/* apply Button Styles */
.post-button {
    background-color: #007bff; /* blue color for primary button */
    color: #fff;
    border: none;
    margin-bottom: 2.5rem;
}

.post-button:hover {
    background-color: #0056b3; /* darker blue on hover */
}

.custom-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.confirm-button {
    margin-top: 40px;
}

.pet-creation-graphic{
    min-height: calc(100vh - 2.5rem);
}

#post-pet{
    background-image: url('../assets/images/pet-creation-image.jpg');
    background-blend-mode: overlay;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 70vh;
}

.space-bottom{
    margin-bottom: 40px;
}

.image-preview:hover {
    box-shadow: 0.1rem 0.5rem 6px rgba(24, 24, 24, 0.199);
    transform: scale(101%);
}

/* responsive design */
@media (max-width: 1000px) {
    .pet-details {
        width: calc(100vw - 5rem);
    }

    .bg-white {
        width: calc(100vw - 5rem);
    }

    /* exclude responsive width for header */
    .navbar.bg-white {
        width: auto; 
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start; /* center vertically */
    }
}
