/* responsive design */
@media (max-width: 1400px) {
  /*.blog-card.blog-card {*/
  /*  width: calc(100vw - 20rem);*/
  /*  padding: 25px;*/
  /*  margin-bottom: 20px;*/
  /*}*/

  /*.blog-card.bg-white {*/
  /*  width: calc(100vw - 20rem);*/
  /*}*/

  /*.blog-card .confirm-button {*/
  /*  margin-top: 10px; */
  /*}*/

  /*.blog-card button.post-button {*/
  /*  width: 100%; */
  /*}*/

  .blogs-container {
    flex-direction: column;
    align-items: center;
  }

  .blogs-container .blog-card {
    margin-left: auto;
    margin-right: auto;
  }

  .blogs-container button {
    max-width: 70vw;
  }
}


