#pets-grid {
    grid-template-columns: 12rem 12rem 12rem 12rem;
    gap: 1rem;
}

#profile-container {
    align-self: flex-start;
}

#profile-container > .card {
    width: 28rem;
    max-width: 100%;
}


#my-pets-main-container {
    min-height: 100vh;
}

@media only screen and (max-width: 1350px) {
    #pets-grid {
        grid-template-columns: 12rem 12rem 12rem;
    }
}

@media only screen and (max-width: 1148px) {
    #pets-grid {
        grid-template-columns: 12rem 12rem;
    }
}

#profile-container {
    max-width: 90vw;
}

@media only screen and (max-width: 1111px) {
    #my-pets-main-container {
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        align-self: center;
    }

    #profile-container {
        align-self: center;
        margin: 0;
    }

    #pets-grid {
        grid-template-columns: 12rem 12rem 12rem;
    }
}

@media only screen and (max-width: 728px) {
    #pets-grid {
        grid-template-columns: 12rem 12rem;
    }
}


@media only screen and (max-width: 520px) {
    #pets-grid {
        grid-template-columns: 12rem 12rem;
    }
}

@media only screen and (max-width: 470px) {
    #pets-grid {
        grid-template-columns: auto;
    }
    .simple-card {
        width: 9rem;
    }
}

